.barralateral{
    overflow-y: scroll;
}
li{
    list-style: none;
}
.titulo{
  text-align: center;
}
   
.containerseccionProyecto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 3rem;

}
.card1{
    margin:20px;
}
.card2{
    margin:20px;
}