.dashboard-container {
  margin-top: 70px;
}
.navbar {
    padding: 15px;
}

.sidebar {
  background: #1e1e2f;
  color: white;
  min-height: calc(100vh - 70px);
  padding-top: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar .nav-link {
  color: #ddd;
  padding: 12px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.sidebar .nav-link:hover {
  background: #343454;
  color: white;
}

.sidebar i {
  font-size: 20px;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
  text-align: center;
}

.sidebar.collapsed .nav-link svg {
  margin: 0;
}

.sidebar.collapsed .nav-link span {
  display: none; 
}

.contenido {
  padding: 25px;
  min-height: calc(100vh - 70px);
  background: #f5f5f5;
  transition: all 0.3s ease;
}

/* Desktop: si sidebar está colapsado, achico padding */
@media (min-width: 992px) {
  .sidebar.collapsed ~ .contenido {
    padding-left: 40px !important;
  }
}

/* Móvil: sidebar Offcanvas, margen siempre 0 */
@media (max-width: 991px) {
  .contenido {
    margin-left: 0 !important;
  }
}