h1{
    color: #4999FA;
    font-size: 50px;
}
 .conteiner{
    width: 90%;
	max-width: 1200px;
	margin: auto;
    display: grid;
	grid-template-columns: 2fr 1fr;
	/* gap: 10px; */
}

.conteiner-text{
    justify-content: center;
 }
.card-title{
    font-weight: bold;
    color: #4999FA;
}
.card{
    width:410px;
    height:250px;
    display: flex;
    flex-direction:row;
    margin-left: auto;
}
.log{
    width: 150px;
    height: 130px;
    margin: 40px;
}
.imagen1{
    margin: 20px;
}
.conteiner-2{
    display: flexbox;
}
@media only screen and (max-width: 600px) {
    .mainItems {
      grid-template-columns: auto;
    }
    .imagen1{
        display: none;
    }
    .conteiner{
       display: grid;
       grid-template-columns: 1fr;
       gap: 15px;

    }

  }