.crud {
  padding: 30px;
}
.crud-b{
  margin-bottom: 20px;
}

.viendo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.viendo-2 {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}