.container{
    background-color: rgb(194, 191, 191);
    display: flex;
    justify-content: center;
}


.ubicacion{
    background-color: rgba(241, 242, 247, 0.2);
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 200px;
}