.footer-bg {
  background-color:#0c2b47;
}

.footer-icon {
  font-size: 1.2rem;
  margin-right: 8px;
  color: #78b4e5;
}

.footer-social {
  font-size: 1.8rem;
  color: #84d0ef;
  transition: 0.3s ease;
}

.footer-social:hover {
  color: #ffffff;
  transform: scale(1.15);
}

footer{
  color: #ffffff;
}