.custom-footer {
  background: #0c2b47;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}

.footer{
  padding-bottom: 80px;
}


.footer-icons .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

