.actividades{
    display: inline-flex;
}
li{
    list-style: none;
}
.imagenesProyectos{
    display: flex;

   
   }
.imagen2Proyectos{
    position: relative;
 left: 2px; 
  top: 50px;
}
   
   .containerseccionProyecto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

   }
