@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;700&display=swap');

#root {
 /*  max-width: 1280px; */
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #111;
  letter-spacing: 0.5px;
}

section {
  margin: 20px 0;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro translúcido */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; /* asegurate que quede por encima del contenido */
}
.modal-content-custom {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;         /* ocupa 80% del ancho de la pantalla */
  max-width: 800px;   /* límite máximo de ancho */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}
