.navbar{
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
}

.navbar-toggler{
  margin-right: 5%;
}

.Logo {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
}


.nav-link {
  margin: 10px;
  /* width: 10em; */
}

nav.navbar {
  max-height: 7rem;
}
